@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: rgb(0, 0, 0);
    --white: #ffffff;
    --border-bottom: rgb(218, 218, 218);
    --red: rgb(255, 5, 0);
}

p {
    font-family: "Open Sans", sans-serif;
}

figure {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;

}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 23px 0;
    z-index: 1;
    z-index: 999;
}

/* STICKY STYLES */
.page-header.is-sticky {
    position: fixed;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
    padding: 24px 0;
    backdrop-filter: blur(10px);
    animation: slideDown 0.35s ease-out;
    background: var(--white);
    border-bottom: 1px solid var(--border-bottom);
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

a.site-logo img {
    max-width: 280px;
}

.site-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.site-navbar ul li {
    padding: 0 18px 0 0;
}

.site-navbar ul li a {
    color: var(--white);
    padding: 10px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

header.page-header.is-sticky .site-navbar ul li a {
    color: var(--black);
}

.site-navbar ul li a:hover {
    color: var(--red);
}

.site-navbar ul li a.active {
    color: var(--red) !important;
}

.nav-toggler {
    border: 3px solid transparent;
    padding: 5px;
    background-color: transparent;
    cursor: pointer;
    height: 39px;
    display: none;
    z-index: 999;
}

.nav-toggler span {
    width: 28px;
    height: 3px;
    background-color: var(--white);
    display: block;
    transition: 0.3s;
}

.nav-toggler span:before {
    width: 28px;
    height: 3px;
    background-color: var(--white);
    display: block;
    transition: 0.3s;
    content: "";
    transform: translateY(-9px);
}

.nav-toggler span:after {
    width: 28px;
    height: 3px;
    background-color: var(--white);
    display: block;
    transition: 0.3s;
    content: "";
    transform: translateY(6px);
}

.nav-toggler.toggler-open span {
    background-color: transparent;
}

.nav-toggler.toggler-open span:before {
    transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
    transform: translateY(-3px) rotate(-45deg);
}

/*  */

section.hero-sec {
    background: url(../images/home-bnr.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

section.hero-sec::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: linear-gradient(30deg, rgba(17, 17, 17, 0.4) 0%, rgba(7, 7, 7, 0) 75%);
}

.content-inner h1 {
    font-size: 5.625rem;
    line-height: 5.625rem;
    color: var(--white);
    font-weight: 700;
    text-transform: capitalize;
}

.content-inner .banner-btn {
    margin-top: 30px;
}

.content-inner .banner-btn a {

    padding: 14px 20px;
    background-color: var(--red);
    color: var(--white);
    border: 0px;
    outline: 0px;
    cursor: pointer;
    transition: color 0.9s ease 0s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    display: inline-block;
    font-weight: 600;
}

.content-inner .banner-btn a::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 30px;
    width: 1000px;
    height: 1000%;
    background: none 0% 0% repeat scroll var(--black);
    z-index: -1;
    transform-origin: 0% 0% 0px;
    transform: translateX(-50%) translateY(-60%) rotate(45deg);
    transition: transform 0.9s ease 0s;
}

.content-inner .banner-btn a:hover::after {
    transform: translateY(-60%) translateX(0px) rotate(45deg);
}

/*  */
section.slotmachine {
    margin: 4.0625rem 0;
}

.slotmachine-para p {
    font-size: 23px;
    line-height: 2.5rem;
    color: var(--black);
    font-weight: 400;

}

.img-overlay {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    height: 400px;
}

.img-overlay-image {
    display: block;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    background-color: #ff0d084a;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-overlay:hover .overlay {
    transform: translateY(0);
}

.img-overlay:hover .text-over {
    opacity: 0;
}

.text {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    line-height: 35px;
    width: 70%;
}



.rebates-gallery {
    padding-top: 35px;
}

img.img-overlay-image.same-one img {
    width: 380px;
    height: 432px;
    object-fit: cover;
}

img.img-overlay-image.same-two img {
    width: 380px;
    height: 313px;
    object-fit: cover;
}

img.img-overlay-image.aircon img {
    width: 380px;
    height: 235px;
    object-fit: cover;
}

.text-over {
    position: absolute;
    bottom: 10px;
    padding: 0 40px;
}

.text-over h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
}

.overlay .text h3 {
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
}

.slotmachine-wrapper {
    margin-top: 56px;
}

.img-overlay.discover:hover .text-over {
    opacity: 1;
}

.img-overlay.discover {
    height: 300px;
}

.img-overlay.discover .text-over h3 {
    font-size: 26px;
}

.img-overlay.discover a {
    display: block;
    overflow: hidden;
    height: 100%;
}

.img-overlay.discover a img {
    transition: all 0.3s ease-in-out;
}

.img-overlay.discover a img:hover {
    transform: scale(1.2);
}


/* Style the accordion items */
.accordion-item {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    /* Add margin to create space between accordion items */
}

/* Style the accordion headings */
.accordion-heading {
    background-color: #f4f4f4;
    padding: 10px 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

/* Style the active (open) accordion heading */
.accordion-heading.active {
    background-color: #ddd;
}

/* Style the accordion content (hidden by default) */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0 20px;
}

/* Style the active accordion content */
.accordion-content.show {
    max-height: 500px;
    /* Set max-height to desired value */
    padding: 14px 20px;
    display: block;
    /* Ensure content is visible when shown */
}

/* Style the accordion icon */
/* Style the accordion icon */
.accordion-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}

.accordion-heading.active .accordion-icon {
    transform: translateY(-50%) rotate(180deg);
    /* Rotate the arrow when the accordion is active */
}